@charset "UTF-8";
@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueCyr-Light.eot");
  src: local("HelveticaNeueCyr-Light"), url("../fonts/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueCyr-Bold.eot");
  src: local("HelveticaNeueCyr-Bold"), url("../fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: local("HelveticaNeueCyr-Roman"), url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Cond.eot");
  src: local("Myriad Pro Condensed"), local("MyriadPro-Cond"), url("../fonts/MyriadPro-Cond.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Cond.woff") format("woff"), url("../fonts/MyriadPro-Cond.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
.main-page {
  background: url('../img/work_4_bg.jpg') 50%/cover no-repeat;
  overflow: hidden; }
  .main-page__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh; }
  .main-page__header {
    margin-top: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .main-page__header__logo {
      font-size: 28.6px;
      font-family: 'HelveticaNeue';
      position: relative;
      z-index: 50; }
      .main-page__header__logo span {
        color: #fff; }
      .main-page__header__logo:after {
        content: '';
        position: absolute;
        background: url(../img/work_4_main_logo.png) 0 0/cover no-repeat;
        left: -10px;
        top: -20px;
        width: 66px;
        height: 67px;
        z-index: -1; }
    .main-page__header__menu a {
      font-size: 14px;
      font-family: 'HelveticaNeue';
      color: #cacaca;
      margin-left: 25px;
      font-weight: bold; }
      .main-page__header__menu a:active {
        color: #000; }
  .main-page__title {
    font-family: 'HelveticaNeue';
    font-weight: bold;
    text-align: center;
    margin: 30vh auto;
    max-width: 630px;
    letter-spacing: -1.68px;
    font-size: 42px;
    position: relative; }
    .main-page__title span {
      position: absolute;
      border: 8px solid transparent;
      border-bottom: 7px solid #000;
      bottom: -28px;
      left: 50%; }
    .main-page__title span:first-child {
      left: -webkit-calc(50% - 14px);
      left: calc(50% - 14px); }
    .main-page__title span:last-child {
      left: -webkit-calc(50% + 14px);
      left: calc(50% + 14px); }

.work-page__wrapper {
  max-width: 1200px;
  margin: 60px auto; }

.work-page__tiles-block {
  width: 100%;
  height: 1606px; }
  .work-page__tiles-block_tile {
    display: block;
    float: left;
    margin-right: 15px;
    width: 390px;
    height: 390px;
    background: 50%/cover no-repeat;
    position: relative;
    text-align: center;
    color: transparent;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    z-index: 50;
    cursor: pointer; }
    .work-page__tiles-block_tile:hover {
      color: #fff; }
    .work-page__tiles-block_tile:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.8);
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0);
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      z-index: -1; }
    .work-page__tiles-block_tile:hover:after {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }
    .work-page__tiles-block_tile div:first-child {
      margin: 145px auto 25px;
      width: 80%;
      font-size: 20px;
      font-family: "HelveticaNeue";
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px; }
    .work-page__tiles-block_tile div:last-child {
      margin: 0 auto;
      width: 80%;
      font-size: 12px;
      font-family: "Myriad Pro"; }
    .work-page__tiles-block_tile:nth-child(7n+2) {
      width: 795px; }
    .work-page__tiles-block_tile:nth-child(6) {
      height: 795px;
      background: 18%/cover no-repeat; }
      .work-page__tiles-block_tile:nth-child(6) div:first-child {
        margin-top: 320px; }
    .work-page__tiles-block_tile:nth-child(3n+2) {
      margin-right: 0; }
    .work-page__tiles-block_tile:nth-child(9) {
      margin-right: 0; }
    .work-page__tiles-block_tile:nth-child(n+3) {
      margin-top: 15px; }
    .work-page__tiles-block_tile:nth-child(5) {
      background: 60%/cover no-repeat; }

.get-contacts {
  background-color: #fafafd; }
  .get-contacts__wrapper {
    max-width: 1200px;
    height: 670px;
    margin: 0 auto;
    overflow: hidden; }
  .get-contacts__title {
    margin: 100px 0 80px;
    font-size: 64px;
    font-family: "HelveticaNeue";
    font-weight: 300;
    color: #231f20; }
  .get-contacts__content {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.content__office {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 33.333%;
      -ms-flex: 1 0 33.333%;
          flex: 1 0 33.333%;
  font-size: 18px;
  color: #373737; }
  .content__office_adress {
    line-height: 1.5; }
  .content__office_phone {
    margin: 35px 0; }
  .content__office_email span {
    color: #7ac8f9;
    cursor: pointer; }

.content__title {
  margin-bottom: 40px;
  font-size: 18px;
  font-family: "HelveticaNeue";
  font-weight: bold;
  text-transform: uppercase; }

.content__social {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 33.333%;
      -ms-flex: 1 0 33.333%;
          flex: 1 0 33.333%; }
  .content__social_net {
    margin-bottom: 30px;
    font-size: 18px;
    font-family: "HelveticaNeue";
    cursor: pointer;
    position: relative;
    z-index: 0; }
    .content__social_net:after {
      content: '';
      position: absolute;
      top: -10px;
      left: -5px;
      width: 100px;
      height: 40px;
      background-color: #7ac8f9;
      z-index: -1;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0); }
    .content__social_net:hover:after {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }

.content__form {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 33.333%;
      -ms-flex: 1 0 33.333%;
          flex: 1 0 33.333%; }
  .content__form_form input {
    background-color: #fafafd;
    padding-left: 28px;
    width: 100%;
    border: 1px solid #cacaca;
    height: 50px;
    margin-bottom: 10px;
    font-family: "HelveticaNeue";
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold; }
    .content__form_form input::-webkit-input-placeholder {
      font-family: "HelveticaNeue";
      font-size: 12px;
      color: rgba(0, 0, 0, 0.6);
      font-weight: bold; }
    .content__form_form input::-moz-placeholder {
      font-family: "HelveticaNeue";
      font-size: 12px;
      color: rgba(0, 0, 0, 0.6);
      font-weight: bold; }
    .content__form_form input:-ms-input-placeholder {
      font-family: "HelveticaNeue";
      font-size: 12px;
      color: rgba(0, 0, 0, 0.6);
      font-weight: bold; }
    .content__form_form input::-ms-input-placeholder {
      font-family: "HelveticaNeue";
      font-size: 12px;
      color: rgba(0, 0, 0, 0.6);
      font-weight: bold; }
    .content__form_form input::placeholder {
      font-family: "HelveticaNeue";
      font-size: 12px;
      color: rgba(0, 0, 0, 0.6);
      font-weight: bold; }
    .content__form_form input:nth-child(2) {
      height: 115px;
      margin-bottom: 20px; }
    .content__form_form input:last-child {
      padding-left: 0;
      background-color: #000;
      font-family: "HelveticaNeue";
      font-size: 14px;
      color: #fff;
      width: 110px;
      height: 50px;
      text-transform: uppercase;
      cursor: pointer; }

.work-fscrn__wrapper {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.work-fscrn__header {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #231f20;
  height: 60px;
  z-index: 999; }
  .work-fscrn__header_arrowUP {
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 10px solid #fff; }
  .work-fscrn__header_menu a {
    text-decoration: none;
    font-size: 14px;
    font-family: "HelveticaNeue";
    color: #6f6c6c;
    font-weight: bold; }
    .work-fscrn__header_menu a:nth-child(2) {
      margin: 0 25px; }
    .work-fscrn__header_menu a:active {
      color: #fafafd; }

.work-fscrn__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  width: 100%;
  height: -webkit-calc(100vh - 60px);
  height: calc(100vh - 60px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .work-fscrn__content__img {
    width: 100%;
    height: 46%;
    position: relative;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    .work-fscrn__content__img_work {
      height: 100%;
      background: 50%/cover no-repeat;
      background-position: 50% 0; }
    .work-fscrn__content__img_work:nth-child(n+2) {
      display: none; }
    .work-fscrn__content__img_fbutton {
      position: absolute;
      width: 45px;
      height: 45px;
      bottom: 15px;
      right: 12%;
      background: #fff url(../img/work_4_rectangle_arrows.png) 50% 50% no-repeat;
      cursor: pointer; }
  .work-fscrn__content__img.active {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    height: -webkit-calc(100vh - 60px);
    height: calc(100vh - 60px); }
  .work-fscrn__content_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 54%;
    font-family: "HelveticaNeue";
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
  .work-fscrn__content_wrapper.active {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    height: 0;
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0); }
  .work-fscrn__content__decription {
    width: 50%;
    padding-right: 80px;
    position: relative; }
    .work-fscrn__content__decription:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -webkit-calc(50% - 128px);
      bottom: calc(50% - 128px);
      height: 255px;
      width: 1px;
      background-color: #000; }
  .work-fscrn__content__decription_work {
    padding-top: 180px;
    font-size: 16px;
    line-height: 1.885; }
    .work-fscrn__content__decription_work span {
      display: block;
      width: 100%;
      font-size: 45px;
      font-weight: bold; }
    .work-fscrn__content__decription_work:nth-child(n+2) {
      display: none; }
  .work-fscrn__content_back {
    cursor: pointer;
    width: 50%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 260px; }
    .work-fscrn__content_back .fa {
      display: block; }

#get-contacts {
  height: 100vh; }

@media (max-width: 1210px) {
  .main-page__wrapper {
    max-width: 100%;
    padding: 0 20px;
    height: 100vh; }
  .main-page__header {
    margin-top: 30px; }
  .work-page__tiles-block {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-content: space-around;
        -ms-flex-line-pack: distribute;
            align-content: space-around; }
    .work-page__tiles-block_tile {
      width: 49%;
      margin-right: 0;
      margin-bottom: 7px; }
      .work-page__tiles-block_tile div:first-child, .work-page__tiles-block_tile div:last-child {
        display: none; }
      .work-page__tiles-block_tile:after {
        display: none; }
      .work-page__tiles-block_tile:nth-child(n+1) {
        margin-top: 0; }
      .work-page__tiles-block_tile:nth-child(7n+2) {
        width: 99%; }
      .work-page__tiles-block_tile:nth-child(1) {
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
            -ms-flex-order: -1;
                order: -1; }
      .work-page__tiles-block_tile:nth-child(5) {
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
            -ms-flex-order: -1;
                order: -1; }
      .work-page__tiles-block_tile:nth-child(6) {
        width: 100%;
        height: 390px; }
  .get-contacts__wrapper {
    padding: 0 20px; }
  .content__social_net:after {
    display: none; }
  .work-fscrn__wrapper {
    padding: 0 20px; }
  .work-fscrn__content_wrapper {
    padding: 0 20px; }
  .work-fscrn__content__decription_work {
    padding-top: 20%; }
    .work-fscrn__content__decription_work span {
      font-size: 28px; }
  .work-fscrn__content_back {
    padding-top: 18%; } }

@media (max-width: 768px) {
  .get-contacts__wrapper {
    height: 100%; }
  .get-contacts__title {
    margin: 20px 0 30px;
    font-size: 56px; }
  .get-contacts__content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .content__office {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    margin-bottom: 50px;
    position: relative; }
    .content__office:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: -15px;
      left: 0;
      background-color: #cacaca; }
  .content__social {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    margin-bottom: 50px;
    position: relative; }
    .content__social:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: -15px;
      left: 0;
      background-color: #cacaca; }
  .content__form {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%; }
    .content__form input:first-child {
      max-width: 500px; }
  .work-fscrn__content_wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .work-fscrn__content__decription {
    padding: 0;
    width: 100%;
    overflow: hidden; }
    .work-fscrn__content__decription:after {
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0; }
  .work-fscrn__content__decription_work {
    padding: 20px 10px 0;
    font-size: 14px;
    line-height: 1.5; }
    .work-fscrn__content__decription_work span {
      font-size: 20px; }
  .work-fscrn__content_back {
    width: 100%;
    padding-top: 20px; }
  #get-contacts {
    margin-top: 50px;
    padding-top: 20px;
    height: auto; }
  .get-contacts__title {
    font-size: 32px; }
  .get-contacts__wrapper {
    overflow: visible; } }

@media (max-width: 500px) {
  .main-page__header {
    margin-top: 30px; }
    .main-page__header__logo {
      font-size: 16px; }
      .main-page__header__logo:after {
        width: 40px;
        height: 40px;
        top: -10px; }
    .main-page__header__menu a {
      margin-left: 10px;
      font-weight: bold; }
      .main-page__header__menu a:first-child {
        margin-left: 0; }
  .main-page h1 {
    font-size: 36px; }
  .work-page__tiles-block_tile {
    width: 99%; }
    .work-page__tiles-block_tile:nth-child(4n+2) {
      height: 50vmin; }
  .get-contacts .content__office {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%; }
  .get-contacts .content__social {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%; }
  .get-contacts .content__form {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%; } }
